.cover__subtitle {
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  align-self: center;
  max-width: 360px;
  color: #FFF;
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
      font-size: 14px;
      line-height: 114%;
      max-width: 288px;
    }
}
