.cover__subtitle {
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  align-self: center;
  font-weight: normal;
  max-width: 360px;
  color: #FFF;
  margin: 16px 0 0;
  z-index: 10;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
      font-size: 14px;
      line-height: 114%;
      max-width: 288px;
      margin: 8px 0 0;
    }
}
