.place__website__link {
  display: block;
  width: 456px;
  height: 22px;
  margin: 12px 0 0 0;
  padding: 0;

  /* font-family: Inter; */
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  /* identical to box height, or 122% */
  text-decoration-line: underline;

  color: #FFFFFF;
}
