.intro {
  margin-left: 148px;
  max-width: 690px;
}

@media screen and (max-width: 1247px) {
    .intro {
      margin-left: 48px;
  }
}
@media screen and (max-width: 1023px) {
    .intro {
      margin-left: 24px;
      max-width: 720px;
  }
}
@media screen and (max-width: 767px) {
    .intro {
      /* margin-left: 16px; */
      max-width: calc(100% - 16px*2);
  }
}
