.intro {
  /* position: relative; */
  margin-left: 148px;
  max-width: 690px;
}

@media screen and (max-width: 1280px) {
    .intro {
      margin-left: 48px;
  }
}
@media screen and (max-width: 1024px) {
    .intro {
      margin-left: 24px;
      max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
    .intro {
      /* margin-left: 16px; */
      max-width: calc(100% - 16px*2);
  }
}
