.cover__background {
  max-width: 100%;
  min-height: 740px;
  background-image: url('../../../images/cover-trains.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 0;  
}
.cover__background::before {
  content: '';
  background: #2A2C2F;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  -webkit-transition: 0.4s;
  opacity: 0.3;
}
.cover__background:hover::before {
  opacity: 0.8;
}
@media screen and (max-width: 1280px){
  .cover__background {
    margin: 0;
    max-width: 100%;
    min-height: 640px;
  }
}
@media screen and (max-width: 1024px){
  .cover__background {
    margin: 0;
    max-width: 100%;
    min-height: 480px;
  }
}
@media screen and (max-width: 768px){
  .cover__background {
    margin: 0;
    max-width: 100%;
    min-height: 200px;
  }
}
