.navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .navigation {
      flex-direction: column;
      min-height: 248px;
  }
}
